img {
    height: auto;
    width: 3%;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
    img {
        height: auto;
        width: 18%;
    }
  }
.nav-link{
    font-size: 17pt;
}
a {
    cursor: pointer;
}